APP_NAME=Keyfactor AI Assistant
APP_VERSION=0.1.0
APP_PUBLIC_URL=http://172.16.21.186:8090

KEYFACTOR_BASE_URL=https://172.16.21.184
KEYFACTOR_API_PATH=/KeyfactorAPI
KEYFACTOR_AUTH_TYPE=basic
KEYFACTOR_USERNAME=svc_kf_service@irfan.lab
KEYFACTOR_PASSWORD=
KEYFACTOR_DOMAIN=
KEYFACTOR_VERIFY_TLS=false
KEYFACTOR_TIMEOUT=60

LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=tinyllama:latest
OFFLINE_MODE=true
AUTO_PULL_MODEL=false

DATABASE_URL=postgresql+psycopg2://keyfactorai:keyfactorai_pass@db:5432/keyfactorai
LOCAL_ADMIN_USERNAME=admin
LOCAL_ADMIN_PASSWORD=admin123

COMMAND_SQL_ENABLED=false
COMMAND_SQL_CONNECTION_STRING=
COMMAND_SQL_READONLY=true
